* {
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}

header, main, footer{
    width: 80%;
    margin-left: 10%;
    background-color: aliceblue;
}




header {
    padding-top: 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 30px;
    
}

li {
    display: inline-flex;
    padding: 5px 10px;
    background-color: rgb(42, 76, 185);
    border-radius: 10px;
    margin: 5px;

        
}
    
 a {
    display: inline-flex; 
    color: white;   
    text-decoration: none;
    padding: 5px 10px;
    width: 100%;
}
    
a:link, a:visited {
        color: rgb(255, 255, 255);
}
    
a:hover {
        color: white;
}

article{
   padding-top: 50px;
   margin-left: 80px;
   margin-right: 80px;
}


article p {
    padding-bottom: 50px;
}

h1 {
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    margin: 20px;

}

section div {
    display: flex;
    background-color: white;
    padding: 30px;
    justify-items: center;
    align-items: center;
}


h2 {
    padding-left: 20px;
    padding-top: 20px;
}

section p {
    width: 80%;
    padding-left: 20px;
}

section img {
    border-radius: 50%;
    display: flex;
    width: 20%;
}

footer {
    text-align: center;
    padding-top : 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    color: white;
}
@media screen and (max-width : 1024px){
    header, main, footer{
        width: 100%;
        margin-left: 0%;
        background-color: beige;
        /* margin: 10px; */
    }
    footer {
        background-color: black;
    }
}